.header {
    &__back, &__back-button, svg, &__project {
        transition: all 0.5s ease;
    }

    &__project {
        position: relative;
    }

    &__project:hover {
        svg {
            stroke: white;
            transform: translateY(5px);
        }
    }

    .is-active {
        transform: translateY(5px);
        stroke: white;
    }

    &__back-button:hover {
        svg {
            stroke: white;
            transform: translateX(-5px);
        }
        color: white;
    }

    &__dropdown {
        z-index: 1;
    }
}

.header__dropdown {
    max-height: 400px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    transition: all 0.5s ease-out;
}

.dropdown-enter {
    max-height: 0;
}
.dropdown-enter-active {
    transition: all 500ms;
    max-height: 400px;
}
.dropdown-exit {
    max-height: 400px;
}
.dropdown-exit-active {
    transition: all 300ms;
    max-height: 0;
}