.header {
    &__back, &__back-button, svg, &__project, &__dropdown {
        transition: all 0.5s ease;
    }

    &__project {
        position: relative;
    }

    &__project:hover {
        svg {
            stroke: white;
            transform: translateY(5px);
        }
    }

    .is-active {
        transform: translateY(5px);
        stroke: white;
    }

    &__back-button:hover {
        svg {
            stroke: white;
            transform: translateX(-5px);
        }
        color: white;
    }

    &__dropdown {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #CCC;
        z-index: -1;
    }
}

.dropdown-enter {
    opacity: 0;
    transform: translateY(-100px);
}
.dropdown-enter-active {
    transform: translateX(0);
    transition: all 500ms;
}
.dropdown-exit {
    opacity: 1;
}
.dropdown-exit-active {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 500ms;
}